* {
    -fx-success-color: #77dfa4;
    -fx-error-color: #f95054;
    -fx-info-color: #789efc;
    -fx-warning-color: #fab859;
}

.regular {
    -fx-font-family: "Proxima Nova Alt Regular";
}

.semibold {
    -fx-font-family: "Proxima Nova Alt Semibold";
}

.bold {
    -fx-font-family: "Proxima Nova Alt Bold";
}