/* Barlow */
@font-face {
    font-family: "Barlow Regular";
    src: url("../font/barlow/Barlow-Regular.ttf");
}

/*@font-face {*/
/*    font-family: "Barlow ExtraBold";*/
/*    src: url("../font/barlow/Barlow-ExtraBold.ttf");*/
/*}*/

/* Proxima Nova */
@font-face {
    font-family: "Proxima Nova Alt Regular";
    src: url("../font/proxima-nova-alt/Proxima-Nova-Alt-Regular.ttf");
}

@font-face {
    font-family: "Proxima Nova Alt Semibold";
    src: url("../font/proxima-nova-alt/Proxima-Nova-Alt-Semibold.ttf");
}

@font-face {
    font-family: "Proxima Nova Alt Bold";
    src: url("../font/proxima-nova-alt/Proxima-Nova-Alt-Bold.ttf");
}