@font-face {
    font-family: "Barlow Regular";
    src: url("../font/barlow/Barlow-ExtraBold.ttf");
}

@font-face {
    font-family: "Barlow ExtraBold";
    src: url("../font/barlow/Barlow-ExtraBold.ttf");
}