@import url("font.css");

* {
    -fx-effect: none !important;

    -fx-font-smoothing-type: gray;
    -fx-smooth: true;
}

.regular {
    -fx-font-family: "Barlow Regular" !important;
}

.bold {
    -fx-font-family: "Barlow ExtraBold" !important;
}

.root {
    -fx-background-color: transparent;
}

.root Label {
    -fx-text-fill: -fx-primary-text-color;
}

.button, .window-actions {
    -fx-cursor: hand;
}

.sidebar {
    -fx-pref-width: 230px;
    -fx-background-color: -fx-sidebar-color;
    -fx-background-radius: 16px 0 0 16px;
}

.background {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 0 16px 16px 0;
}

.window-actions {
    -fx-stroke: none;
    -fx-fill: -fx-bg-color;
}