@import url("font.css");

* {
    -fx-effect: none !important;

    -fx-font-smoothing-type: gray;
    -fx-smooth: true;
}

.root {
    -fx-background-color: transparent;
}

.root Label {
    -fx-text-fill: -fx-primary-text-color;
}

.button, .window-actions, .sidebar-tab, .top-bar-icon, .combo-box, .check-box {
    -fx-cursor: hand;
}

.sidebar {
    -fx-pref-width: 230px;
    -fx-background-color: -fx-sidebar-color;
    -fx-background-radius: 16px 0 0 16px;
}

.sidebar-tab Label {
    -fx-text-fill: -fx-secondary-text-color;
}

.logo {
    -fx-text-fill: -fx-primary-color;
    -fx-font-size: 34px;
    -fx-font-weight: bold;
}

.icon-selected {
    -fx-fill: -fx-primary-color;
}

.icon-1, .icon-2 {
    -fx-fill: -fx-secondary-text-color;
}

.icon-2 {
    -fx-opacity: .4;
}

.selected Label {
    -fx-text-fill: -fx-primary-text-color;
}

.selected SVGPath {
    -fx-fill: -fx-primary-color;
}

.background {
    -fx-background-color: -fx-bg-color;
    -fx-background-radius: 0 16px 16px 0;
}

.menu-tab {
    -fx-background-color: -fx-card-color;
    -fx-background-radius: 6px;
}

.window-actions {
    -fx-stroke: none;
    -fx-fill: -fx-bg-color;
}

.table-view .column-header, .table-view .column-header .filler, .table-view .column-header-background .filler, .nested-column-header, .table-view .column-header, .column-header-background {
    -fx-background-color: -fx-separator-color;
    -fx-border-width: 0;
    -fx-background-radius: 6px 6px 0 0;
}

.table-view .filler, .table-view .column-header {
    -fx-size: 40px;
}

.table-view {
    -fx-table-cell-border-color: transparent;
}

.table-row-cell .text, .table-row-cell:hover .text {
    -fx-fill: -fx-primary-text-color;
}

.table-row-cell:hover .text {
    -fx-fill: -fx-secondary-text-color;
}

.table-row-cell:selected .text, .icon {
    -fx-fill: -fx-primary-color;
}

.table-column {
    -fx-padding: 0 0 0 5;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell {
    -fx-cell-size: 44px;
    -fx-background-color: -fx-card-color;
    -fx-background-insets: 0;
    -fx-table-cell-border-color: transparent;
}

.table-view, .scroll-bar {
    -fx-background-color: transparent;
}

.top-bar-icon SVGPath {
    -fx-fill: -fx-secondary-text-color;
}

.combo-box-base .arrow, .combo-box-base:focused .arrow {
    -fx-shape: "M2462.656-371.929l-4.267-4.268-4.268,4.268a1,1,0,0,1-1.414,0,1,1,0,0,1,0-1.415l4.95-4.949a1,1,0,0,1,.732-.293,1,1,0,0,1,.732.293l4.95,4.949a1,1,0,0,1,0,1.415,1,1,0,0,1-.707.293A1,1,0,0,1,2462.656-371.929Z";
    -fx-background-color: -fx-primary-text-color;
}

.combo-box-base:focused .arrow {
    -fx-rotate: 180;
}

.combo-box-popup .list-view .list-cell, .combo-box-popup .list-view {
    -fx-background-color: -fx-bg-color;
    -fx-border-width: 0;
    -fx-padding: 5;
}

.combo-box-popup > .list-view {
    -fx-padding: 0;
}

.combo-box-popup .list-view .list-cell:filled:selected, .dialog-container .combo-box-popup .list-view .list-cell:filled:selected {
    -fx-background-color: -fx-primary-color;
}

.combo-box .cell, .combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: -fx-primary-text-color;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: -fx-secondary-text-color;
}

.combo-box-popup .list-view .list-cell:filled:selected {
    -fx-text-fill: -fx-primary-text-color;
}

.combo-box, .check-box .box {
    -fx-background-color: -fx-separator-color;
}

.check-box {
    -fx-text-fill: -fx-primary-text-color;
}

.check-box .box {
    -fx-border-color: transparent;
    -fx-border-radius: 0;
}

.check-box .mark {
    -fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}

.check-box:selected .mark {
    -fx-background-color: -fx-primary-text-color;
}

.check-box:selected .box {
    -fx-background-color: -fx-primary-color;
}