*  {
    -fx-primary-color: #3506EF;

    -fx-separator-color: -fx-bg-color;

    -fx-card-color: #FFFFFF;
    -fx-bg-color: #F2F3F7;

    -fx-sidebar-color: linear-gradient(to bottom, derive(-fx-separator-color, -6%), -fx-bg-color);

    -fx-primary-text-color: #2E2E3A;
    -fx-secondary-text-color: #7E7E8F;
}